#settings {
  width: 100%;
  margin-bottom: 7rem;
  h1 {
    margin-left: 6rem;
  }
  .card {
    background: #ffffff;
    height: auto;
    padding-top: 1.5rem;
    padding-bottom: 7rem;
    .text {
      color: #868686;
    }
    .auth {
      font-size: 0.9rem;
    }
  }
  .btn-toggle {
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    background: rgb(131, 128, 128);
    border-radius: 1.5rem;
    &.btn-sm:focus {
      outline: none;
    }
  }
}

.btn-toggle.btn-sm {
  &.focus, &:focus.active, &.focus.active {
    outline: none;
  }
}

#settings .btn-toggle.btn-sm:before, .btn-toggle.btn-sm:after {
  line-height: 1.5rem;
  width: 0.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.55rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}

#settings .btn-toggle.btn-sm {
  &:before {
    content: 'Off';
    left: -0.5rem;
  }
  &:after {
    content: 'On';
    right: -0.5rem;
    opacity: 0.5;
  }
  > .square {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.125rem;
    height: 1.125rem;
    background: #ffffff;
    transition: left 0.25s;
  }
  &.active {
    transition: 0.25s;
    background: #096DD9;
    > .square {
      left: 1.6875rem;
      transition: left 0.25s;
    }
    &:before {
      opacity: 0.5;
    }
    &:after {
      opacity: 1;
    }
  }
  &.btn-sm:before {
    line-height: -0.5rem;
    color: #ffffff;
    letter-spacing: 0.1rem;
    left: 0.4125rem;
    width: 2.325rem;
  }
}

.btn-toggle.btn-sm.btn-sm:after {
  line-height: -0.5rem;
  color: #ffffff;
  letter-spacing: 0.1rem;
  left: 0.4125rem;
  width: 2.325rem;
}

#settings {
  .btn-toggle.btn-sm.btn-sm {
    &:before {
      text-align: right;
    }
    &:after {
      text-align: left;
      opacity: 0;
    }
    &.active {
      &:before {
        opacity: 0;
      }
      &:after {
        opacity: 1;
      }
    }
  }
  .hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 0.09rem solid rgba(0, 0, 0, 0.1);
  }
}