@import 'sass-rem';

.trendCard {
  border: rem(1px) solid #d9d9d9 !important;
  width: rem(343px);
  height: 100%;
  height: rem(240px);
  border-radius: 0 !important;
  background: center center no-repeat;
  background-size: cover;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(transparent,#000000);
  }
  a{
    color: #fff;
  }

  &--category {
    width: rem(75px);
    color: #096DD9;
    position: absolute;
    text-align: center;
    top: rem(10px);
    right: rem(10px);
    font-size: rem(12px);
  }

  &--overlay {
    position: relative;
    background-color: linear-gradient(red, yellow);

    &__content {
      text-align: justify;
      align-items: baseline;
      bottom:  rem(60px);
      padding-right: rem(16px);
    }
  }
  &--title, &--text {
    font-size: rem(14px);
  }
  &--text {
    margin-top: rem(-8px);
  }
  &--username {
    font-size: rem(14px);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: rem(8px);
    font-weight: 600;
    .initials {
      height: rem(24px);
      width: rem(24px);
      font-size: rem(10px);
      text-align: center;
      padding: 0;
      padding-top: rem(1.5px);
      padding-bottom: rem(1.5px);
      background-color: #868686;
      border: none;
      border-radius: 50% !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .name {
      margin: 0 rem(5px);
    }
  }
}

.card {
  padding: 0rem;
}

@media screen and (min-width: 1020px) {
  .trendCard {
    border: rem(1px) solid #d9d9d9 !important;
    width: rem(420px);
    height: 100%;
    height: rem(240px);
    border-radius: 0 !important;
    background-color: black;
    background: center center no-repeat;
    background-size: cover;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(transparent,#000000);
    }
    &>img {
      border-radius: 0 !important;
    }

    &--category {
      width: rem(75px);
      color: #096DD9;
      position: absolute;
      text-align: center;
      top: rem(10px);
      right: rem(10px);
      font-size: rem(12px);
    }

    &--overlay {
      position: relative;
      background-color: linear-gradient(red, yellow);
  
      &__content {
        text-align: justify;
        align-items: baseline;
        bottom:  rem(60px);
        padding-right: rem(16px);
      }
    }
    &--title, &--text {
      font-size: rem(16px);
    }
    &--text {
      margin-top: rem(-8px);
    }
    &--username {
      font-size: rem(14px);
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-top: rem(8px);
      .initials {
        height: rem(24px);
        width: rem(24px);
        font-size: rem(10px);
        text-align: center;
        padding: 0;
        padding-top: rem(1.5px);
        padding-bottom: rem(1.5px);
        background-color: #868686;
        border: none;
        border-radius: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .name {
        margin: 0 rem(5px);
      }
    }
  }
}
