@import 'sass-rem';

#bl-creators {
  position: relative;
  z-index: 10;

  .left-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    background-image: url('../../../assets/photo-2.jpg');
    clip-path: ellipse(152% 64% at -8% 36.2%);
    background-size: cover;
    max-height: rem(658px);
    opacity: 0.55;

    &__photos {
      line-height: 0;
   
      -webkit-column-count: 5;
      -webkit-column-gap:   0;
      -moz-column-count:    5;
      -moz-column-gap:      0;
      column-count:         5;
      column-gap:           0;
      max-height: rem(658px);
    }

    &__photos img {
      /* Just in case there are inline attributes */
      width: 100% !important;
      height: auto !important;
    }

    @media (max-width: 1200px) {
      &__photos {
      -moz-column-count:    4;
      -webkit-column-count: 4;
      column-count:         4;
      }
    }
    @media (max-width: 1000px) {
      &__photos {
      -moz-column-count:    3;
      -webkit-column-count: 3;
      column-count:         3;
      }
    }
    @media (max-width: 800px) {
      &__photos {
      -moz-column-count:    2;
      -webkit-column-count: 2;
      column-count:         2;
      }
    }
    @media (max-width: 400px) {
      &__photos {
      -moz-column-count:    1;
      -webkit-column-count: 1;
      column-count:         1;
      }
    }
  }
	.top-section-container{
      color: #ffffff;
      min-height: rem(658px);
      background-image: radial-gradient(117% rem(900px) at 50% rem(-30px), #003CE1 76%, #2F80ED, transparent 75%);
		.welcome__link{
			h1.title{
				font-size: rem(38px);
				margin-top: rem(130px);
			}
			p{
				font-size: rem(16px);
    			margin-top: 1%;
			}
			a.btn-default{
				background: #ffffff;
				border-radius: rem(1px) !important;
    		padding: rem(7px) rem(30px);
			}

		}
	}
  .copyright {
    margin-top: rem(134px);
    .title {
      font-size: rem(14px);
      color: #B7B7B7;

      span {
        padding-left: rem(4px);
        font-size: rem(10px);
      }
    }
  }
	.metrics{
		.card{
			padding: 1.875rem;
		    border-radius: rem(130px) !important;
		    border-color: rgba(0, 0, 0, 0.15) !important;
		    margin-top: -12%;
			h1{
				font-size: rem(55px);
			}
			p{
				color: rgba(134, 134, 134, 1);
    		font-size: rem(14px);
			}
		}
	}
  .playVideo {
    position: absolute;
    top: 35%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  .creator-video {
    background: black;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;

    & > video {
      height: 50vh;
      width: 50vw;
    }
  }
	.video-button {
      height: rem(80px);
      width: rem(80px);
      position: absolute;
      top: 50%;
      border: rem(1px) solid #2f80ed;
      background: #ffffff;
      left: 50%;
      animation-iteration-count: infinite;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      
      .video-controls {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #003ce1;
      }
      svg{
        color: #ffffff;
      }

      button {
        background-color: transparent;
        border: none;
        p{
          position: absolute;
          top: 102%;
          margin-top: 23%;
          font-weight: 400;
          margin-left: -8%;
          font-size: rem(15px);
          width: rem(100px);
          color: #ffffff;
          font-weight: 700;
        }
      }
    }
}

@keyframes pop{
  from{
    box-shadow: 0 0 0 rem(5px) #2f80ed;
  }
  to{
    box-shadow: 0 0 0 rem(15px) #2f80ed;
  }
}


@media( max-width : 585px ) {
#bl-creators{
  h1.title{
    font-size: rem(34px);
    margin-top: 10%;
    br{
      display: none !important;
    }
  }
  .metrics{
      .card{
        padding: 1.875rem;
        border-radius: rem(1px) !important;
        border-color: rgba(0, 0, 0, 0.15) !important;
        margin-top: rem(-196px) !important;
        margin-bottom: 19% !important;
        h1{
          font-size: rem(55px);
        }
        p{
          color: rgba(134, 134, 134, 1);
            font-size: rem(14px);
        }
      }
    }
  }
}

@media( max-width : 989px ) {
#bl-creators{
  h1.title{
    font-size: rem(34px);
    margin-top: 10%;
    br{
      display: none !important;
    }
  }
  .metrics{
      .card{
        padding: 1.875rem;
          border-radius: rem(1px) !important;
          border-color: rgba(0, 0, 0, 0.15) !important;
          margin-top: rem(-196px) !important;
          margin-bottom: 19% !important;
        h1{
          font-size: rem(55px);
        }
        p{
          color: rgba(134, 134, 134, 1);
            font-size: rem(14px);
        }
      }
    }
  }
}
