@import 'sass-rem';

#bl-profile-page {
  .dropdown-toggle {
    color: #000000;
    font-size: rem(14px);
    text-decoration: underline;
  }

  .right-section {
    height: fit-content;
  }

  .top-card {
    background-image: linear-gradient(to right top, #5b86e5, #0c9def, #00b1ef, #00c2e7, #36d1dc);
    height: rem(176px);
    overflow: hidden;
    .card-title {
      font-size: rem(16px);
    }
    .sub-text {
      font-size: rem(14px);
    }
    .card-icon {
      position: absolute;
      top: rem(-35px);
      right: rem(-35px);
      color: #ffffff;
      opacity: 0.1;
      height: rem(200px);
      width: rem(200px);
    }
  }

  .first-circle {
    color: #007bff;
  }

  .second-circle {
    color: #5E91C9;
  }

  .third-circle {
    color:#83A1C2;
  }
}

.bl-modal-content {
  height: rem(350px);
  max-height: rem(350px) !important;

  .popover-container {
    padding: rem(5px);
  }
}
