@import 'sass-rem';

.about-container{
text-align: left
}
.gen_title {
    width: 60%;
    margin: 50px auto;
}
#about-title {
    font-size: rem(32px);
    font-weight: 100;
    margin-top: -3%;
    color: #000;
}
#about-subtitle {
    font-size: rem(17px);
    font-weight: 100;
    padding-top: 0.7em;
    margin-bottom: 5%;
    color: #000;
}
.about-body-container{
  display:flex;
 justify-content: space-between;
 height:rem(217px);
  div{
    background: white;
    padding:40px
  }
  img{
    width:rem(263px);
    
  }
}

.about-body{
  width: 60%;
  margin: rem(50px) auto;
  /* margin:30px 50px */
}
#about-body-text{
   p {
    font-size: rem(14px);
    font-weight: 100;
    color: #292929;
  }
  h1 {
      font-size: rem(21px);
      font-weight: 900;
      padding-bottom: rem(12px);
      margin-top: rem(5px);
      color: #000;
  }
}

.about-body-container2{
  display:flex;
  flex-direction: row-reverse;
}
.about-body-container2 div{
  background: white;
  padding:rem(40px)
}
.about-body-container2 img{
  width:rem(263px);
  height:auto;
  object-fit: cover;
  object-position:left;
}
.about-body-container3{
  display:flex;
  height:rem(250px)
}
.about-body-container3 div{
  background: white;
  padding:rem(40px)
}
.about-body-container3 img{
  width:rem(263px);
  
}
#about-strong{
  padding-top: rem(20px);
  font-weight: 600;
}
#about-footer{
  text-align: center;
  margin-bottom: rem(40px);

}
#about-footer button{
  border-radius: 0px !important;
}
#about-footer p{
  background: white;
  width:20%;
  margin: auto;
  padding:rem(8px);
  margin:30px auto;
  margin-bottom: rem(40px) !important
}
.about-body-container4{
  display:flex;
  flex-direction: row-reverse;
  height:rem(371px)
}
.about-body-container4 div{
  background: white;
  padding:rem(40px)
}
.about-body-container4 img{
  width:rem(263px);
  object-fit: cover;
}
#empty{
  margin-top: rem(40px);
}

@media screen and (max-width: 768px) {
.about-body{
  width:90%
}
.gen_title {
    width: 90%;

}
}
@media screen and (max-width: 600px) {
  .about-body-container{
    height:auto
  }
    .about-body-container2{
    height:auto
  }
    .about-body-container3{
    height:auto
  }
      .about-body-container4{
    height:auto
  }
.about-body-container2 img{
  display:none
}

.about-body-container img {
  display:none
}
.about-body-container3 img {
  display:none
}
.about-body-container4 img {
  display:none
}
.about-body{
  width:90%
}
.gen_title {
    width: 90%;
}
#about-footer p{
  width:90%
}
#empty{
  margin-top: 100px
}

     }
      @media screen and (max-width: 360px) {
.about-body{
  width:90%
}
.gen_title {
    width: 90%;
}
.about-body-container{
  height:auto
}
.about-body-container2{
  height:auto
}
.about-body-container3{
  height:auto
}
.about-body-container4{
  height:auto
}
.about-body-container2 img{
  display:none
}
.about-body-container img {
  display:none
}
.about-body-container3 img {
  display:none
}
.about-body-container4 img {
  display:none
}
#about-footer p{
  width:90%
}
#empty{
  margin-top: 100px
}

      }
@media only screen and (max-width: 768px) {
    
} 