#category-page {
  padding-bottom: 3.063rem;
  .select-t {
    font-size: 0.7rem;
    padding-bottom: 1.5rem;
  }
  .category-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0;
    left: 0;
    background: #f5f5f5;
    border-top: 0.09rem solid #F5F5F5;
  }
}