@import 'sass-rem';

.defaultButton {
  background-color: #ffffff;
  height: rem(38px);
  width: rem(302px);
  font-size: rem(14px);
  font-weight: 700;
  border: solid;
  border-width: rem(1px);
  border-color: rgba(255, 255, 255, 0.15);
  border-radius: rem(2px);
}

.defaultButton:hover {
  cursor: pointer;
}
