@import 'sass-rem';

.sign-up-text {
  font-weight: bold;
}

.terms-and-privacy {
  text-align: left;
}

.terms-text {
  color: #096DD9;
}

.privacy-text {
  color: #096DD9;
}

.signup-creator-text {
  width: rem(302px);

}
