@import 'sass-rem';

.terms-nav .nav-link {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.terms {
  font-family: Montserrat, Regular;
  color: #2d2d2d;
  font-weight: 500;
}

.navbar-nav {
  font-size: rem(16px);
  font-weight: 700;
}

nav {
  margin: 0;
  padding: 0;
}

.sub-content {
  word-spacing: rem(2px);
  font-size: rem(14px);
  color: #767676;
}

.sub-content > h6 {
  color: #565656;
}

.last-update {
  color: #565656;
}
.date {
  font-weight: 700;
}

.terms-title > h1 {
  font-size: rem(26px);
}

.terms-title > p {
  font-size: rem(14px);
}


.contest-text {
  font-size: 1rem;
  color: #767676;
}

.contest-header {
  font-size: 1rem;
}

.contest-title {
  font-size: 1rem;
  font-weight: 900;
}

.contest-content {
  padding-top: 1.5rem;
}

.navigation-bar {
  background-color: #ffffff;
}

.terms-content {
  background-color: #ffffff;
}

.nav-link {
  font-size: 1rem;
  color: #565656 !important;
  border: none !important;
  height: 3.75rem;
}

.nav-link.active {
  font-weight: 900 !important;
  background: transparent !important;
  border-bottom: 0.0625rem solid #004ded !important;
}

.photocontest {
  padding: 1.5rem;
}



@media screen and (max-width: 800px) {
  .terms-container{
    width:100% !important;
  }

  nav {
    display: none;
  }

  .terms-container{
    width:100% !important;
  }

  .terms-title {
    padding-left: rem(20px);
  }
}

@media screen and (max-width: 768px) and (min-width: 600){
  .terms-container{
    width:80% !important;
  }
}

@media screen and (min-width: 1024px) {
  .terms-container{
    width:50% !important;
  }
}
