@import 'sass-rem';

#read-later-card {
  width: 100% !important;
  border: rem(0.25px) !important;
  border-top: rem(1px) solid #dee2e6 !important;
  &>img {
    height: rem(192px);
  }
  .read-later-image {
    height: rem(192px);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    button {
      color: #2F80ED;
      font-size: rem(12px);
    }
    &-list {
      height: rem(160px);
      background-color: #cccccc;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      button {
        color: #2F80ED;
        font-size: rem(12px);
      }
    }
  }
  .list-view-height {
    height: rem(160px);
  }
  .card-body {
    &-title--content {
      margin-bottom: rem(24px);
      .card-title {
        font-size: rem(20px);
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: rem(48px);
        text-align: left;
      }
      .username {
        display: flex;
        align-items: center;
        max-width: none;
        width: 100%;
        text-transform: capitalize;
        padding: 0;
        font-size: rem(14px);
        color: #565656;
        .initials {
          height: rem(24px);
          width: rem(24px);
          font-size: rem(8px);
          text-align: center;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          color: #ffffff;
          background-color: #2980B9;
          border: none;
        }
        .name {
          color: #096DD9;
          font-weight: 500;
          font-size: rem(14px);
          text-transform: capitalize;
        }
        .name::after {
          content: '\2022';
          color: #2F80ED;
          margin-left: rem(5px);
          font-weight: 800;
        }
        .time {
          font-size: rem(12px);
          color: #868686;
        }
      }
    }
    .actions {
      font-size: rem(14px);
      .counts {
        .views, .comments {
          cursor: pointer;
        }
        .views::after {
          content: '\2022';
          color: #2F80ED;
          margin-left: rem(5px);
          font-weight: 800;
        }
      }
      .keypoints {
        font-size: rem(12px);
        color: #2F80ED;
        cursor: pointer;
      }
    }
    button {
      color: #2F80ED;
      font-size: rem(12px);
      border: 1px solid #dee2e6;
    }
  }
  .card-footer {
    margin-left: rem(-9px);
    margin-right: rem(-9px);
    .clicked {
      background-color: #cccccc;
    }
    .actions {
      &--a {
        .thumbs-down, .thumbs-up, .share {
          cursor: pointer;
          .icons {
            color: #2F80ED;
            height: rem(24px);
            width: rem(24px);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            .fa-thumbs-down {
              transform: rotateY(180deg);
            }
          }
        }
      }
      &--b {
        .thumbs-down, .thumbs-up, .share {
          cursor: pointer;
          .icons {
            color: #2F80ED;
            height: rem(24px);
            width: rem(24px);
            display: inline-flex;
            justify-content: center;
            align-items: center;
          }
        }
        .ellipsis-div {
          .ellipsis {
            cursor: pointer;
            #option-icon {
              display: inline-block !important;
              background-color: #000000;
              color: #000000;              
              width: rem(3px);
              height: rem(3px);
              margin-left: rem(2px);
              border-radius: 50%;
            }
          }
          .dropdown-item {
            font-size: rem(17px);
            padding:.55rem 1.5rem;
            svg{
              color: #096DD9 !important;
            }
            .badges{
              float: right;
              color: #096DD9;
              border: rem(1px) solid #096DD9;
              border-radius: rem(3px);
              padding: 0 rem(3px);
            }
          }
          .dropdown-toggle {
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}
