@import 'sass-rem';

.forgot-password-container {
  padding-top: rem(15px);
  padding-bottom: rem(20px);
  min-height: 100vh;
  background-color: #333333;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image:
        linear-gradient(rgba(37, 42, 48, 0.2), rgba(37, 42, 48, 0.2)),
        url('../../../assets/signin-image.jpg');
}

.forgot-password-content {
  min-height: calc(100vh - 170px);
  position: relative;
}

.forgot-password-intro-one {
  font-size: rem(24px);
  font-weight: 900;
  margin: 0 0 rem(8px) 0;
  width: rem(281px);
}

.forgot-password-intro-two {
  font-size: rem(16px);
  margin-bottom: rem(24px);
  width: rem(281px);
}

// These styles apply to other pages 
.password-grid-container {
  display: grid;
  grid-template-columns: 1fr 0.3fr 5fr;
}

.password-grid-item {
  opacity: .5;
}

.password-middle-grid-item {
  text-align: center;
  font-size: rem(16px);
  margin: -0.5rem 0 1.5rem 0;
}

.password-hr-text {
  line-height: 0em;
  position: relative;
  outline: 0;
  border: 0;
  text-align: left;
  height: rem(2em);
  opacity: .8;
  width: 100%;
  margin: -0.5rem 0 1.5rem 0;
}

.password-hr-text:before {
  content: '';
  background: #ad938a;
  position: absolute;
  top: 50%;
  width: 100%;
  height: rem(1px);
}

.password-or-text {
  padding: rem(10px);
}

.password-primary-button {
  background-image: linear-gradient( to left, #2F80ED, #003CE1);
  width: rem(358px);
  height: rem(38px);
  margin-bottom: rem(24px);
}

/* Extra small devices (phones, 600px and down) */
@media (min-width: 320px) and (max-width: 600px) { 
  .forgot-password-container {
    // background-color: #F5F5F5;
    // color: #252525;
    // background-image: none;
  }

  .password-primary-button {
    width: 19rem;
  } 
}
