@import 'sass-rem';

.category {
  font-size: rem(12px);
}

.edit-icon {
  font-size: rem(15px);
  color: #096DD9;
}

main.card {
  border-radius: 0 !important;
}

.profile-details-title {
  font-size: rem(16px);
}

@media screen and (min-width: 700px) {
  main.card {
    border-radius: rem(4px) !important;
  }
}
