@import 'sass-rem';

.photoContestCard {
  width: rem(272px);
  height: 100%;
  height: rem(192px);
  border-radius: 0 !important;
  &>img {
    border-radius: 0 !important;
    height: 100%;
  }
  &--overlay {
    position: relative;
    background-color: linear-gradient(red, yellow);

    &__content {
      position: absolute;
      text-align: justify;
      align-items: baseline;
      bottom: rem(60px);
      padding-right: rem(16px);
    }
  }
  &--title, &--text {
    font-size: rem(14px);
  }
  &--username {
    font-size: rem(12px);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: rem(5px) 0;
    
    .initials {
      height: rem(16px);
      width: rem(16px);
      font-size: rem(10px);
      text-align: center;
      padding: 0;
      padding-top: rem(1.5px);
      padding-bottom: rem(1.5px);
      background-color: #868686;
      border: none;
    }
    .name {
      margin: 0 rem(5px);
    }
  }
}

@media screen and (min-width: 1020px) {
  .photoContestCard {
    width: rem(272px);
    height: 100%;
    height: rem(192px);
    border-radius: 0 !important;
    &>img {
      border-radius: 0 !important;
      height: 100%;
    }
    &--overlay {
      position: relative;
      background-color: linear-gradient(red, yellow);
  
      &__content {
        position: absolute;
        text-align: justify;
        align-items: baseline;
        bottom: rem(60px);
        padding-right: rem(16px);
      }
    }
    &--title, &--text {
      font-size: rem(16px);
    }
    &--username {
      font-size: rem(14px);
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .initials {
        height: rem(16px);
        width: rem(16px);
        font-size: rem(10px);
        text-align: center;
        padding: 0;
        padding-top: rem(1.5px);
        padding-bottom: rem(1.5px);
        background-color: #868686;
        border: none;
      }
      .name {
        margin: 0 rem(5px);
      }
    }
  }
}
