@import 'sass-rem';

.photoContestCard {
  width: rem(272px);
  height: 100%;
  height: rem(192px);
  border-radius: 0 !important;
  background: center center no-repeat;
  background-size: cover;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(transparent,#000000);
  }

  &>img {
    border-radius: 0 !important;
    height: 100%;
  }
  &--overlay {
    position: relative;
    background-color: linear-gradient(red, yellow);

    &__content {
      align-items: baseline;
      bottom: rem(60px);
      padding-right: rem(16px);
    }
  }
  &--title, &--text {
    font-size: rem(14px);
  }
  &--username {
    font-size: rem(12px);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: rem(5px) 0;
    
    .initials {
      height: rem(24px);
      width: rem(24px);
      font-size: rem(8px);
      text-align: center;
      padding: 0;
      padding-top: rem(1.5px);
      padding-bottom: rem(1.5px);
      background-color: #868686;
      border: none;
      border-radius: 50% !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .name {
      margin: 0 rem(5px);
    }
  }
}

@media screen and (min-width: 1020px) {
  .photoContestCard {
    width: rem(272px);
    height: 100%;
    height: rem(296px);
    border-radius: 0 !important;
    background: center center no-repeat;
    background-size: cover;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(transparent,#000000);
    }
    &>img {
      border-radius: 0 !important;
      height: 100%;
    }
    &--overlay {
      position: relative;
      background-color: linear-gradient(red, yellow);
  
      &__content {
        align-items: baseline;
        bottom: rem(60px);
        padding-right: rem(16px);
      }
    }
    &--title, &--text {
      font-size: rem(16px);
    }
    &--username {
      font-size: rem(14px);
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .initials {
        height: rem(24px);
        width: rem(24px);
        font-size: rem(8px);
        text-align: center;
        padding: 0;
        padding-top: rem(1.5px);
        padding-bottom: rem(1.5px);
        background-color: #868686;
        border: none;
        border-radius: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .name {
        margin: 0 rem(5px);
      }
    }
  }
}
