@import 'sass-rem';

.logo {
  height: rem(40px);
  padding-left: rem(20px);
}
.top {
    background: white;
    padding: rem(10px);
}
.top-left-container {
  margin-left: 5%;
}
.top-left-container > a {
  color: #000000 !important;
}
.top-left-container > a > svg {
  vertical-align: middle;
}
.top-left-container > a > span {
  padding-left: rem(10px);
}
.content{
  h3{
    font-size: rem(27px);
    color: #353535;
    font-weight: 900;
    margin-bottom: rem(4px);
  }
  input{
    margin-bottom: 3%;
  }
  .file_share {
    height: rem(50px);
    background: white;
    border: rem(1px) solid #096DD9;
    border-radius: rem(9px);
    margin-top: -13%;
    svg{
      color: #096DD9;
      font-size: rem(31px);
      display: block;
      text-align: center;
      margin: 0 auto;
      padding-top: 16%;
  }
    input {
      position: absolute;
      width: 77%;
      height: 100%;
      opacity: 0;
    }
  }
}
.edit__profile--select{
  -webkit-appearance:none;
  border-radius: rem(4px) 0 0 rem(4px);
  border-right: none;
}
