@import 'sass-rem';
.mainSection {
  text-align: left !important;
}

.welcome-text {
  font-size: rem(24px);
}

.intro-text {
  font-size: rem(14px);
}

.forgot-password-link {
  text-align: right !important;
  color: #096DD9;
  font-size: rem(14px);
}

.creator-text {
  font-size: rem(14px);
  text-align: left;
}

.apply-now-text {
  font-size: rem(14px);
  color: #096DD9 !important;
}

.new-bloverse-text {
  font-size: 14px;
  text-align: left;
  color: #ffffff;
}

.new-bloverse-text > .signup-text {
  color: #096DD9 !important;
}

.primary-button {
  background-image: linear-gradient( to left, #2F80ED, #003CE1);
  width: rem(281px);
  height: rem(38px);
}

.secondary-button {
  width: rem(281px);
  height: rem(50px) !important;
  border-width: rem(2px) !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
  padding-left: rem(24px) !important;
}

.social-button {
  width: rem(281px);
  height: rem(38px);
}

.social-button:hover {
  background-color: #ffffff !important;
}

.secondary-button:hover {
  background-color: transparent !important;
}

.grid-container {
  display: grid;
  grid-template-columns: rem(0.5fr) rem(0.5fr) rem(1.9fr);
}

.grid-item {
  opacity: .5;
}

.middle-grid-item {
  text-align: center;
  font-size: rem(16px);
}

.hr-text {
  line-height: 0em;
  position: relative;
  outline: 0;
  border: 0;
  text-align: left;
  height: rem(2em);
  opacity: .8;
  width: 100%;
}

.hr-text:before {
  content: '';
  background: #ecebeb;
  position: absolute;
  top: 50%;
  width: 100%;
  height: rem(1px);
}

.text-input {
  background-color: rgba(0, 0, 0, 0.45) !important;
  border-color: rgba(255, 255, 255, 0.15) !important;
  color: white !important;
}
