.welcome-text {
  font-size: 24px;
}
.login-text {
  font-size: 14px;
}
.input {
  height: 40px;
  width: 268px;
  background-color: rgba(0, 0, 0, 0.45);
  border: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.15);
  padding-left: 16px;
  padding-top: 11px;
  padding-right: 16px;
  padding-bottom: 11px;
  border-radius: 0;
  color: white;
  outline: none;
}
.forgot-password-link {
  text-align: right !important;
  color: #096DD9;
  font-size: 14px;
}
.creator-text {
  font-size: 14px;
}
.apply-now-text {
  font-size: 14px;
  color: #096DD9 !important;
}
.new-bloverse-text {
  font-size: 14px;
}
.new-bloverse-text > span {
  color: #096DD9 !important;
}
.login-button {
  background-image: linear-gradient( to right, #2F80ED, #003CE1);
  height: 40px;
  width: 268px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  border: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.15);
  border-radius: 2px;
}
.signup-button {
  background-color: transparent !important;
  height: 50px !important;
  color: #ffffff;
  border-width: 2px !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
}
