@import 'sass-rem';

.logo {
  height: rem(40px);
  padding-left: rem(20px);
}
.top {
    background: white;
    padding: rem(10px);
}
.top-left-container {
  margin-left: 5%;
}
.top-left-container > a {
  color: #000;
}
.top-left-container > a > svg {
  vertical-align: middle;
}
.top-left-container > a > span {
  padding-left: rem(10px);
}
.content{
  h3{
    font-size: rem(18px);
    color: #353535;
    margin-bottom: 9px;
  }
  h5{
    font-size: rem(14px);
    color: #868686;
  }
  .card{
    margin-bottom: rem(14px);
    img{
      height: rem(220px);
      width: 100%;
      margin-top: rem(-38px);
      margin-bottom: rem(-29px);
    }
   p {
      color: #000000;
      font-size: rem(14px);
      padding: rem(1px) rem(8px);
      margin-bottom: rem(5px);
  }

  }
}
.highlight:before {
    /* content: ''; */
    background: #096DD9;
    z-index: 200;
    position: absolute;
    right: 28px;
    padding: 6px 11px;
    color: #fff;
    font-size: 19px;
    border-radius: 50%;
    margin-top: 5%;
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
}