@import 'sass-rem';

.defaultClass {
  height: rem(40px);
  width: rem(281px);
  background-color: rgba(0, 0, 0, 0.45) !important;
  color: #ffffff;
  border: solid;
  border-width: rem(1px);
  border-color: rgba(255, 255, 255, 0.15) !important;
  border-radius: 0 !important;
  font-size: rem(16px);
}

/* Extra small devices (phones, 600px and down) */
@media (min-width: 320px) and (max-width: 480px) { 
  .defaultClass {
    background-color: #FFFFFF !important;
    border-color: rgba(255, 255, 255, 0.15) !important;
    color: #868686 !important;
  }
}
