@import 'sass-rem';

.vl {
  height: rem(38px);
  border-left: rem(1px) solid #e8e8e8;
  left: 50%;
  margin: auto rem(20px);
  top: 0;
  font-weight: 100;
}

.nav-logo {
  height: rem(40px)
}

.router-link-exact-active {
  cursor: pointer;
  font-weight: 900;
  color: #073cec !important;
}

nav {
  font-size: rem(14px);
  border-bottom: rem(1px) solid #e6e6e6;
  margin-bottom: rem(49px);
  background-color: #ffffff;
}

.transparent {
  background-color: transparent !important;
  border: none;
}

.white-text {
  a.nav-link {
    color: rgba(255, 255, 255, 0.65);
  }
  a.nav-link:hover {
    color: rgb(255, 255, 255);
  }
  a.router-link-active {
    color: white !important;
  }
  a.router-link-active:hover {
    color: white !important;
  }
}

.alt-button {

  .vl {
    height: rem(38px);
    border-left: rem(1px) solid rgba(255, 255, 255, 0.10) !important;
    left: 50%;
    margin: auto rem(20px);
    top: 0;
    font-weight: 100;
    background-color: rgba(255, 255, 255, 0.10) !important;
  }

  .get-started-link {
    background-color: transparent !important;
    border: rem(1px) solid #ffffff;
    color: #ffffff;
  }

  .get-started-link:hover {
    background-color: #ffffff !important;
    background-image: none;
    border: rem(1px) solid #096DD9;
    border-radius: 0.3rem;
    color: #096DD9;
    padding: rem(7px) rem(16px);
    text-align: center;
    text-decoration: none;
    font-size: rem(14px);
  }

  .publish-link {
    background-color: #ffffff !important;
    background-image: none;
    border: rem(1px) solid #096DD9;
    border-radius: 0.3rem;
    color: #096DD9;
    padding: rem(7px) rem(16px);
    text-align: center;
    text-decoration: none;
    font-size: rem(14px);
  }
}

.dropdown-menu a {
  color: #898989;
}

.dropdown-toggle:after {
  visibility: hidden;
}

.nav-link.dropdown-toggle {
  padding-top: rem(6px);
}

.get-started-link {
  background-color: #ffffff;
  border: rem(1px) solid #096DD9;
  border-radius: 0.3rem;
  color: #096DD9;
  padding: rem(7px) rem(16px);
  text-align: center;
  text-decoration: none;
  font-size: rem(14px);
}

.initials {
  &-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #FF3434;
    border: rem(1px) solid #FF3434;
    border-radius: 0.3rem;
    color: #ffffff;
    padding: rem(7px) rem(0px);
    padding-left: rem(10px);
    text-align: center;
    text-decoration: none;
    font-size: rem(14px);
  }
  .icon {
    &-profile, &-settings {
      color: #096DD9
    }
    &-power {
      color: #FF3434
    }
  }
}

.publish-link {
  background-image: linear-gradient( to bottom, #2F80ED, #003CE1);
  border: rem(1.5px) solid #096DD9;
  border-radius: 0.3rem;
  color: #ffffff;
  padding: rem(7px) rem(16px);
  text-align: center;
  text-decoration: none;
  font-size: rem(14px);
}

.get-started-link:hover {
  background-image: linear-gradient( to bottom, #2F80ED, #003CE1);
  border: rem(1.5px) solid #096DD9;
  border-radius: 0.3rem;
  color: #ffffff;
  padding: rem(7px) rem(16px);
  text-align: center;
  text-decoration: none;
  font-size: rem(14px);
}

.publish-link:hover {
  background-color: #ffffff !important;
  background-image: none;
  border: rem(1px) solid #096DD9;
  border-radius: 0.3rem;
  color: #096DD9;
  padding: rem(7px) rem(16px);
  text-align: center;
  text-decoration: none;
  font-size: rem(14px);
}

.dropdown-menu:after, .dropdown-menu:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.dropdown-menu:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: rem(10px);
	margin-left: rem(-10px);
}

.dropdown-menu:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: rgba(18, 38, 63, .1);
	border-width: rem(12px);
	margin-left: rem(-12.5px);
}

.dropdown-toggle #option-icon {
  display: inline-block !important;
  background-color: #bcbcbc;
  width: rem(4px);
  height: rem(4px);
  margin-left: rem(2px);
  border-radius: 50%;
}

.dropdown-menu {
  left: rem(-62px);
  top: rem(45px);
}

#feeds-header {
  .backlink {
    margin: 0 rem(-5px);
    color: #565656;
    font-size: rem(16px);
    .back-icon {
      margin: rem(-6px) rem(10px);
    }
    .back-text {
      margin: 0 rem(5px);
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav-logo {
    margin: -0.375rem;
  }

  .mobile-view {
    margin-right: rem(-42px);
  }

  .dropdown-mobile-view {
    left: rem(122px);
    top: rem(65px);
  }
}

@media only screen and (max-width: 411px) {
  .dropdown-mobile-view {
    left: rem(131px);
    top: rem(65px);
  }
}

@media only screen and (max-width: 400px) {
  .dropdown-mobile-view {
    left: rem(120px);
    top: rem(65px);
  }
}

@media only screen and (min-width: 414px) {
  .dropdown-mobile-view {
    left: rem(135px);
    top: rem(65px);
  }
}

@media only screen and (max-width: 375px) {
  .nav-logo {
    margin: -0.25rem;
  }

  .mobile-view {
    margin-right: rem(-44px);
  }

  .dropdown-mobile-view {
    left: rem(97px);
    top: rem(65px);
  }
}

@media only screen and (max-width: 350px) {
  .nav-logo {
    margin: rem(-44px);
  }

  .mobile-view {
    margin-right: rem(-34px);
  }

  .dropdown-mobile-view {
    left: rem(24px);
    top: rem(65px);
  }
}

@media only screen and (max-width: 360px) {
  .nav-logo {
    margin: -0.4375rem;
  }

  .mobile-view {
    margin-right: rem(-44px);
  }

  .dropdown-mobile-view {
    left: rem(82px);
    top: rem(65px);
  }
}

@media only screen and (max-width: 320px) {
  .nav-logo {
    margin: -1.3125rem;
  }

  .mobile-view {
    margin-right: rem(-44px);
  }

  .dropdown-mobile-view {
    left: rem(42px);
    top: rem(65px);
  }
}

@media only screen and (min-width: 768px) {
  .logo {
    margin: rem(-31px);
  }

  .mobile-view {
    margin-right: rem(-26px);
  }

  .dropdown-mobile-view {
    left: rem(472px);
    top: rem(65px);
  }
  #feeds-header {
    .backlink {
      margin: 0 rem(16px);
    }
  }
}

@media screen and (max-width: 800px) and (min-width: 320px){
  .navbar-toggler {
    border: none !important;
    color: #ffffff !important;
  }
}

