@import 'sass-rem';

.profile-navbar {
  padding: 0;
  font-size: rem(16px);
}

nav {
  margin: 0;
  cursor: pointer;
}

.active {
  border-bottom: rem(1px) solid #0885e7 !important;
}

.right-content {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.number {
  &--active {
    border: rem(1px) solid #3d98eb !important;
  }
}

.icon {
  &--active {
    color: #3d98eb;
  }
}

.contest-advert {
  background: #ffffff;
  background-image: url('../../../assets/Mask-group-15.svg');
  height: rem(171px);
  margin: auto;
  margin-bottom: auto;
  border: rem(1px) solid #d9d9d9;
  border-radius: 0 !important;
  width: auto;
  padding: rem(24px);
  border: rem(1px) solid green;
  &>img {
    border-radius: 0;
  }
  .card-img-overlay {
    .card-title {
      color: #252525;
      padding-right: rem(20px); 
      font-size: rem(25px);
    }
    .caption {
      color:#868686;
      font-size: rem(16px);
    }
    .know-more-btn {
      margin: rem(16px) 0;
      height: rem(31px);
      background-image: linear-gradient( to right, #2F80ED, #003CE1);
      border: rem(0px);
      padding: rem(5px) rem(8px);
      font-size: rem(14px);
      text-transform: capitalize;
      text-align: center;
      color: #ffffff;
      cursor: pointer;
    }
  }
}

a {
  font-size: rem(14px);
}

.bl-footer {
  display: block;
  height: rem(37px);
  margin: rem(24px) 0;
  .company-name {
    height: rem(15px);
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    font-size: rem(12px);
    opacity: 0.9;
    color: #bebebe;
    font-weight: 700;
    &>div{
      border-right: rem(1px) solid rgba(0, 0, 0, 0.15);
      padding: 0;
      font-size: rem(16px);
    }
    &>p {
      padding: 0 rem(10px);
      &>span {
        margin: auto rem(5px);
      }
    }
    .dots::after {
      content: '\2022';
      color: #096DD9;
      margin-left: rem(5px);
      font-weight: 900;
    }
  }
  .company-rights {
    font-size: rem(10px);
    height: rem(13px);
    color: #868686;
    margin: 0;
    padding-top: rem(10px);
  }
}
