@import 'sass-rem';

.new-password-container {
  padding-top: rem(20px);
  padding-bottom: rem(20px);
  background-color: #333333;
  height: 100vh;
  overflow: hidden;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image:
        linear-gradient(rgba(37, 42, 48, 0.2), rgba(37, 42, 48, 0.2)),
        url('../../../assets/signin-image.jpg');
}

.new-password-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10rem auto;
}

.new-password-intro-one {
  font-size: rem(24px);
  font-weight: 900;
  margin-bottom: rem(8px);
  width: rem(281px);
}

.new-password-intro-two {
  font-size: rem(16px);
  margin-bottom: rem(24px);
  width: rem(281px);
}

.new-password-form-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media (min-width: 320px) and (max-width: 600px) {
  .new-password-container {
    background-color: #F5F5F5;
    color: #252525;
    background-image: none;
  }
}

@media (min-width: 320px) and (max-width: 480px) { 
  .new-password-intro-one {
    margin-top: rem(-134px);
  }
}

@media (min-width: 411px) and (max-width: 731px) {
  .new-password-intro-one, .new-password-intro-two {
    margin-left: rem(-61px);
  }
}

@media (min-width: 375px) and (max-width: 812px) {
  .new-password-intro-one {
    margin-top: -2.375rem;
  }
}
