@import 'sass-rem';

.new-password-container {
  padding-top: rem(15px);
  padding-bottom: rem(20px);
  background-color: #333333;
  min-height: 100vh;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image:
        linear-gradient(rgba(37, 42, 48, 0.2), rgba(37, 42, 48, 0.2)),
        url('../../../assets/signin-image.jpg');
}

.new-password-content {
  min-height: calc(100vh - 170px);
  position: relative;
}

.new-password-intro-one {
  font-size: rem(24px);
  font-weight: 900;
  margin-bottom: rem(8px);
  width: rem(281px);
}

.new-password-intro-two {
  font-size: rem(16px);
  margin-bottom: rem(24px);
  width: rem(281px);
}

.new-password-form-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
