@import 'sass-rem';

#bl-social-media {
  height: 100vh;
  .main-content {
    padding: 0;
    .social-media-form {
      margin: 0;
      justify-content: center;
      .bl-form-header {
        margin-bottom: 2rem !important;
        &>h3 {
          color: #252525;
          font-weight: bold;
          text-transform: capitalize;
        }
      }
      .bl-form-btn {
        background-image: linear-gradient( to right, #003CE1, #2F80ED);
      }
      input, button {
        border-radius: rem(2px) !important;
        font-size: rem(16px);
      }
      input::placeholder {
        color: #B7B7B7;
      }
      .add-link {
        color: #096DD9;
      }
    }
  }
  .footer-container {
    position: fixed;
    bottom: 0;
    color: #B7B7B7;
    line-height: rem(40px);
  }
}
