#publish-page {
  background: #fff;
  height: auto;
  min-height: 100vh;
  .form-control {
    border: none;
    background: #fff;
    transition: none !important;
    margin-bottom: 2rem;
    color: #252525;
    font-weight: 600;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .one::placeholder {
    font-weight: 600;
    font-size: 1.25rem;
    color: #868686;
  }
  .two {
    &::placeholder {
      color: #868686;
    }
    > input::placeholder {
      font-weight: 600;
      color: #868686;
    }
  }
  .mytext {
    overflow: hidden;
    width: 100%;
    border: 0;
    margin-right: 1.5rem;
    background: #fff;
    color: #565656;
    resize: none;
    padding-bottom: 3rem;
    font-size: 1rem;
    font-weight: 500;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .back-icon {
    color: #000000;
  }
  .publish-nav {
    height: 3.5rem;
  }
  .preview {
    border: 0.063rem solid #096DD9;
    color: #096DD9;
    background: transparent;
  }

  .click {
    cursor: pointer;
  }

  .text-icons {
    list-style-type: none;
    margin-top: 4.5rem;
    position: fixed;
    li {
      margin-bottom: 1rem;
    }
    button {
      background: transparent;
      border: 0.063rem solid rgba(0, 0, 0, 0.15);
      height: 2.375rem;
      width: 2.375rem;
    }
  }
  .icon-wrapper {
    z-index: 1;
  }

  .text {
    background: transparent;
    border: 0.063rem solid rgba(0, 0, 0, 0.15);
    height: 1.938rem;
    width: 1.938rem;
  }

  .modal-full {
    min-width: 100%;
    margin: 0;
    background: #ffffff;
}

 .modal-full .modal-content {
    height: 100vh;
    border: none;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-dialog {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background: #ffffff;
  }

  .modal-backdrop {
    display: none;
  }

  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  .compare{
    text-decoration: underline;
  }
  .err-alert {
    position: fixed;
    bottom: 0;
    right: 7.063rem;
    height: 80vh;
    padding-bottom: 10%;
  }

  .exclam {
    width: 3rem; 
    height: 3rem; 
    padding-right: 0.5rem;
  }
  .inner-icons {
    margin-left: 0.5rem;
  }
  .inner-icons div {
    padding-right: 1rem;
    p{
      font-size: 0.625rem;
    }
    .embed {
      border-radius: 0 !important;
      margin-top: 0.5rem;
      margin-bottom: 0.3rem;
    }
  }
  @keyframes dot-keyframes {
    0% {
      opacity: .4;
      transform: scale(1, 1);
    }
  
    50% {
      opacity: 1;
      transform: scale(1.2, 1.2);
    }
  
    100% {
      opacity: .4;
      transform: scale(1, 1);
    }
  }
  
  .loading-dots {
    text-align: center;
    width: 100%;
    
    &--dot {
      animation: dot-keyframes 1.5s infinite ease-in-out;
      background-color: #096DD9;
      border-radius: 0.75rem;
      display: inline-block;
      height: 0.75rem;
      width: 0.75rem;
      margin-right: .5rem;
      
      &:nth-child(2) {
        animation-delay: .5s;
      }
      
      &:nth-child(3) {
        animation-delay: 1s;
      }
    }
  }
}
