@import 'sass-rem';

#bl-social-media {
  .social-title {
    font-size: rem(16px);
  }
  .social-icon {
    height: rem(14px);
    width: rem(14px);
  }
  .social-text {
    font-size: rem(12px);
  }

  .header>h5 {
    font-size: rem(16px);
  }

  .edit-icon {
    color: #096DD9;
    font-size: rem(15px);
    color: #096DD9;
    height: rem(28px);
    width: rem(28px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
