@import url('https://fonts.googleapis.com/css?family=Comfortaa');
.footer-container {
  margin: auto;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: rem(10px);
  background: transparent
}

.bloverse {
  font-size: rem(16px);
  font-weight: 900;
  font-family: "Comfortaa" !important;
}
