@import 'sass-rem';

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5rem auto;
}

.main-container {
  padding-top: rem(20px);
  padding-bottom: rem(20px);
  background-color: #333333;
  min-height: 100vh;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image:
        linear-gradient(rgba(37, 42, 48, 0.5), rgba(37, 42, 48, 0.5)),
        url('../../../assets/signin-image.jpg');
}

.logo {
  height: rem(40px);
  padding-left: rem(20px);
}

.bottom {
  position: absolute;
  margin: auto;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: rem(10px);
}

.bloverse {
  font-size: rem(14px);
  font-weight: 900;
}

.top-left-container {
  margin-left: 5%;
}

.top-left-container > a {
  color: #ffffff;
}

.top-left-container > a > svg {
  vertical-align: middle;
}

.top-left-container > a > span {
  padding-left: rem(10px);
}
