@import 'sass-rem';

.sign-in-container {
  padding-top: rem(20px);
  padding-bottom: rem(20px);
  background-color: #333333;
  min-height: 100vh;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image:
        linear-gradient(rgba(37, 42, 48, 0.2), rgba(37, 42, 48, 0.2)),
        url('../../../assets/signin-image.jpg');
}

.sign-in-content {
  min-height: calc(100vh - 170px);
  position: relative;
}

.sign-in-intro-one {
  font-size: rem(24px);
  font-weight: bolder;
  margin: rem(40px) 0 rem(24px) 0;
}

.sign-in-intro-two {
  font-size: rem(16px);
  font-weight: bold;
  margin-bottom: rem(8px);
}

.sign-in-social-button {
  width: rem(358px);
  height: rem(38px);
  border-radius: 0 !important;
}

.sign-in-social-button:hover {
  background-color: #ffffff !important;
}

.sign-in-facebook-btn {
  margin-bottom: rem(-10px);
}

.forgot-password-link {
  color: #096DD9;
  font-size: rem(14px);
  margin-bottom: rem(16px);
}

.sign-in-primary-button {
  background-image: linear-gradient( to left, #2F80ED, #003CE1);
  width: rem(358px);
  height: rem(38px);
  margin-bottom: rem(32px);
  border-radius: 0 !important;
}

.signin-creator-div {
  width: rem(281px);
  text-align: left;
}

.sign-in-creator-text {
  font-size: rem(14px);
  text-align: left;
}

// These styles apply to other pages 
.bloverse {
  font-size: rem(14px);
  font-weight: 900;
}

.secondary-button {
  width: rem(358px);
  height: rem(67px) !important;
  border-width: rem(2px) !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
  padding-left: rem(24px) !important;
  margin-bottom: rem(16px);
}

.secondary-button:hover {
  background-color: transparent !important;
}

/* Extra small devices (phones, 600px and down) */
@media (min-width: 320px) and (max-width: 600px) {
  .top {
    padding-top: 0.60rem;
    background-color: #ffffff;
    margin-top: rem(-20px);
    height: rem(56px);
  }

  .back-text {
    color: #000000;
  }

  .sign-in-social-button {
    width: 19rem;
    background-color: #ffffff !important;
  }

  .secondary-button {
    width: 18rem;
  }

  .sign-in-primary-button {
    width: 18rem;
  }
}
