#error-alert {
  .error {
    border-radius: 0;
    background: #FF2737;
    color: #ffffff;
    font-weight: 600;
    border: 0.063rem solid rgba(0, 0, 0, 0.15);
    padding: 1.5rem;
  }
  .error-icon {
    color: #ffffff;
    position: absolute;
    right: .5rem;
    top: .5rem;
  }
}
