@import 'sass-rem';

.country-image {
  width: rem(20px);
  height: rem(20px);
}

.country {
  font-size: rem(12px);
}

.country-title {
  font-size: rem(14px) !important;
}

.edit-icon {
  color: #096DD9;
  font-size: rem(15px);
  color: #096DD9;
  height: rem(28px);
  width: rem(28px);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

main.card {
  border: 0 !important;
  border-radius: 0 !important;
}

.header>h5 {
  font-size: rem(16px);
}

@media screen and (min-width: 700px) {
  main.card {
    border: rem(1px) solid rgba(0, 0, 0, 0.09) !important;
    border-radius: rem(4px) !important;
  }
}
