@import 'sass-rem';

#bl-setup-password {
  height: 100vh;
  .main-content {
    width: rem(281px);
    padding: 0;
    padding-top: rem(70px);
    .setup-password-form {
      margin: rem(10px) 0;
      justify-content: flex-start;
      &>form {
        width: 100%;
      }
      button.bl-form-btn {
        background-image: linear-gradient( to right, #003CE1, #2F80ED);
      }
      input, button.bl-form-btn {
        width: 100%;
        border-radius: rem(2px) !important;
        font-size: rem(14px);
      }
      input::placeholder {
        color: #B7B7B7;
        font-size: rem(14px);
      }
    }
    .title {
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;
      &>h3 {
        color: #252525;
        text-transform: capitalize;
        text-align: justify;
        font-size: rem(24px);
      }
      &>p {
        text-align: justify;
        line-height: 2.4;
        font-size: rem(14px);
      }
    }
  }
  .footer-container {
    position: fixed;
    bottom: 0;
    color: #B7B7B7;
    line-height: rem(40px);
  }
}
