@import 'sass-rem';

.recommendation-card {
  border-radius: 0 !important;
  width: rem(281px);
  padding-bottom: rem(4px);
  position: relative;

  .card {
    padding: 0;
  }
  .small-avatar {
    width: rem(24px);
    height: rem(24px);
    font-size: rem(10px);
    background: #2e8bc1;
  }

  .views {
    color: #565656;
  }

  .icon-circle {
    width: rem(24px) !important;
    height: rem(24px) !important;
  
    &__active {
      background: #cbcbcb;
    }
  }
  .card-body {
    padding: rem(12px);
    .card-title {
      color: #868686;
      font-size: rem(14px);
      position: absolute;
      top: rem(10px);
      right: rem(10px);
      background: #ffffff;
      padding: rem(2px);
      border-radius: rem(2px);
    }
  }

  &--list {
  width: 100%;
  border: none !important;
  margin: rem(0px);
  object-fit: cover;
  }

  &>img {
    border-radius: 0 !important;
    height: rem(136px);
  }
  &--content {
    &__text {
      overflow: hidden;
       a{
          color: #333333;
        }
    }
    &__username {
      display: flex;
      justify-content: start;
      align-items: center;
      .name {
        color: #565656;
        font-weight: 500;
        margin: auto rem(5px);
      }
      .name::after {
        content: '\2022';
        color: #2F80ED;
        margin-left: rem(5px);
        font-weight: 800;
      }
      .time {
        font-size: rem(12px);
        color: #868686;
      }
    }
  }
  .actions {
    margin: rem(12px) 0;
    margin-bottom: 0;
    .count {
      margin: rem(7px);
      color: #252525;
    }
    .others {
      margin:0;
      padding: 0;
      .likes {
        .thumbs-up, .thumbs-down {
          cursor: pointer;
        }
      }
      .comments {
        border-right: rem(1px) solid #e6e5e5;
        padding: 0;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        color: #868686;
        .coment, .share {
          cursor: pointer;
        }
      }
      .ellipsis {
        cursor: pointer;
        font-size: rem(16px);
        padding: 0;
        text-align: center;
        color: #868686;
          .dropdown-toggle {
          #option-icon {
            display: inline-block;
            background-color: #bcbcbc;
            width: rem(3px);
            height: rem(3px);
            margin-left: rem(2px);
            border-radius: 50%;
          }
          &::after {
            display: none;
          }
        }
      }
    }
  }
  .top-dropdown:after, .top-dropdown:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  
  .top-dropdown:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: rem(10px);
    margin-left: rem(-10px);
  }
  
  .top-dropdown:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: rgba(18, 38, 63, .1);
    border-width: rem(12px);
    margin-left: rem(-12.5px);
  }
  
  .bottom-dropdown:after, .bottom-dropdown:before {
    top: 100%;
    left: 41%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  
  .bottom-dropdown:after {
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #ffffff;
      border-width: rem(10px);
      margin-left: rem(2px);
    }

  .bottom-dropdown:before {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(18, 38, 63, 0.1);
    border-width: 0.75rem;
    margin-right: -0.78125rem;
  }

  .dropdown-menu {
    left: rem(-80px) !important;
  }

  .centerEle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropdown-item {
    font-size: rem(17px);
    padding:.55rem 1.5rem;
    svg{
      color: #096DD9 !important;
    }
    .badges{
      float: right;
      color: #096DD9;
      border: rem(1px) solid #096DD9;
      border-radius: rem(3px);
      padding: 0 rem(3px);
    }
  }
}
.list-img{
  height: rem(109px);
  width: rem(144px);
}

.icon {
  color: #0083e6 !important;
}

@media screen and (max-width: 1190px) and (min-width: 978px) {
  .profile-card {
    width: rem(240px) !important;
  }
}

@media screen and (min-width: 1020px) {
  .profile-card {
    width: rem(240px) !important;
  }
  .recommendation-card {
    border-radius: 0 !important;
    width: rem(281px);
    padding-bottom: rem(4px);
    .card-body {
      padding: rem(12px);
      .card-title {
        color: #868686;
      }
    }
    &>img {
      border-radius: 0 !important;
    }
    &--content {
      &__text {
        overflow: hidden;
        font-size: rem(14px);
        color: #303030;
      }
      &__username {
        
        .name {
          color: #565656;
          font-weight: 500;
          margin: auto rem(5px);
        }
        .name::after {
          content: '\2022';
          color: #2F80ED;
          margin-left: rem(5px);
          font-weight: 800;
        }
        .time {
          font-size: rem(12px);
          color: #868686;
        }
      }
    }
    .actions {
      margin: rem(12px) 0;
      margin-bottom: 0;
      .count {
        margin: rem(7px);
        color: #252525;
      }
      .views {
        color: #868686;
        padding: 0;
        cursor: pointer;
      }
      .others {
        margin:0;
        padding: 0;
        .likes {
          .thumbs-up, .thumbs-down {
            cursor: pointer;
          }
        }
        .comments {
          border-right: rem(1px) solid #e6e5e5;
          padding: 0;
          display: inline-flex;
          justify-content: space-around;
          align-items: center;
          color: #868686;
          .coment, .share {
            cursor: pointer;
          }
        }
        .ellipsis {
          cursor: pointer;
          font-size: rem(16px);
          padding: 0;
          text-align: center;
          color: #868686;
        }
      }
    }
  }
}
